h1, h2, TH, tr, a, li, label, legend, ul{
	font-family: Arial,Tahoma,Helvetica,sans-serif;
}

h1 {
	font-size:20px;
}

h2 {
	color: #365abc;
	font-size:17px;
}

body {
	background-image: url("../imagenes/bg.gif");
	background-repeat:repeat;
}

TH {
	background-color: white;
	border-style:outset;
	border-color:#365abc;
}

tr{
	color: #365abc;
}

form{
width:600px;
}

label{
color: #FFFFFF;
display: block;
}
label:after { content: ": " }


fieldset legend {
background: #FFFFFF;
padding: 6px;
}

#info_somos {
	width:800px;
	background-color:#FFFFFF;
	opacity:0.8;
	padding:40px;
	margin-right:40px;
	margin-top:40px;
	float:right;
}

#mnu {	
	float:right;
	
}

#header {
	padding:0;
	width: 400px;
	height: 158px;
	background-image: url("../img/CC.png");
	background-color:#FFFFFF;
	opacity:0.8;
}

#menu {
	padding:0;
	width: 100%;
	height: 300px;
	background-color:#c60000;
	opacity:0.8;

}

#menu  li{
	display: block;

}

#menu li a {
	width:100%;
	font-family: Arial,Tahoma,Helvetica,sans-serif;
    font-size:15px;  
    text-decoration: none;  
    padding: 10px;
    background-color: #c60000;  
    color: #fff;
	float:left;
} 

#menu li .active {  
    background-color: #950000;
	width:100%;
}   

#menu li a:hover {  
    background-color: #950000;  
    margin-top:-2px;  
    padding-bottom:12px;  
}  

#reco li{
	padding-bottom:10px;
	font-family: Arial,Tahoma,Helvetica,sans-serif;
	color:#365abc;
	font-size:13px;

}

#servicios {
	font-family: Arial;
	font-size: 20px;
	color: #99CCFF;
}



#main {
	background-image: url("../imagenes/fondo.png");
	width: 85%;
	margin-left: 8%;
	height:900px;
}



#logo {
    background-image: url("../imagenes/CC.png");
    background-repeat: no-repeat;
    height: 200px;
	width: 506px;
}


#hotel {
	height: 255px;
	width: 700px;
	position: relative;
	left: 350px;
}

#datos {
	height:300px;
}



/* Menú vertical desplegable
----------------------------------------------- */
.menu_list {
width: 180px; /* Ancho del menú */
}
.menu_head {
padding: 5px 10px;
color:#848484; /* Color de las pestañas principales */
cursor: pointer;
position: relative;
margin:1px;
margin-left:0;
margin-right:0;
font-weight:bold;
background-color: #424242; /* Color de fondo */
background-image: url(https://lh5.googleusercontent.com/-mQHPLQrjxcI/TlQJSHgEsZI/AAAAAAAABno/HbkoM9nbaWQ/flecha-abajo.png);
background-position:center right;
background-repeat:no-repeat;
}
.menu_body {
display:none;
}
.menu_body a{
display:block;
color:#848484; /* Color de los enlaces */
background-color:#BDBDBD; /* Color de fondo de los enlaces */
padding-left:10px;
font-weight:bold;
text-decoration:none;
}
.menu_body a:hover{
color: #000000; /* Color de los enlaces al pasar el cursor */
text-decoration:underline;
}